*,
::after,
::before{
    box-sizing: border-box;
}
a{
    display:inline-block;
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
ul{
    padding: 0;
}
body{
    color:$main-color;
    font-family:$main-font-family;
    background-color:$main-background-color;
}