///////////////////////////////////color///////////////////////////////

$main-color:#000000;
$navigation-color:#FFFFFF;
$title-color:#000000;
$intro-color:#000000;
$info-color:#4A8251;
$text-color:#2F2E41;
$button-color:#FFFFFF;

////////////////////////////////body///////////////////////////////////

$main-color:#000000;
$main-font-family:'Roboto', sans-serif;


////////////////////////////////////main-title-h1-header///////////////

$main-title-font-family:'Roboto', sans-serif;
$main-title-font-weight:700px;
$main-title-font-size:80px;
$main-title-line-height:94px;
$main-title-color:#000000;

////////////////////////////////////main-text-header///////////////

$main-text-font-family:'Work Sans', sans-serif;
$main-text-font-weight:400px;
$main-text-font-size:24px;
$main-text-line-height:28px;
$main-text-color:#000000;

/////////////////////////////////title/////////////////////////////////

$title-font-family:'Roboto', sans-serif;
$title-font-weight:700px;
$title-font-size:48px;
$title-line-height:56px;
$title-color:#000000;

/////////////////////////////////////intro///////////////////////////////

$intro-color:#000000;
$intro-font-family:'Roboto', sans-serif;
$intro-font-weight:500px;
$intro-line-height:37px;
$intro-font-size:32px;

/////////////////////////////////////info//////////////////////////////////

$info-color:#4A8251;
$info-font-family:'Open Sans', sans-serif;
$info-font-weight:400px;
$info-line-height:41px;
$info-font-size:30px;

///////////////////////////////////text////////////////////////////////////

$text-color:#2F2E41;
$text-font-family: 'Work Sans', sans-serif;
$text-font-weight:400px;
$text-line-height:41px;
$text-font-size:35px;

/////////////////////////////////////////buttton/////////////////////////////

$button-color:#FFFFFF;
$button-font-family:'Roboto', sans-serif;
$button-font-weight:700px;
$button-line-height:32px;
$button-font-size:27.6111px;
$button-padding:20px 48px;
$button-radius:45px;
$button-background-color:#7EB685;